.service-header {
  height: 90px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 5%, rgba(0, 0, 0, 0.7) 10%,  black 30%, black 100%);;
  position: sticky;
  top: 0px;
  z-index: 1;

  // border: 1px solid red;

}