@import '../../style_global.scss';

$titlePageHeight: 97vh;
$scrollerShift: 100vh - $titlePageHeight;

@mixin mid {
  position: absolute;
  left: 60px;
}

@mixin wide {
  position: absolute;
  left: 210px;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;

  @media (max-width: 1440px) and (min-width: 768px) {
    @include mid;
    top: 210px;
    height: 110px;
  }

  @media (min-width: 1441px) {
    @include wide;
    top: 210px;
    height: 110px;
  }

}

.App-header {
  position: relative;
  background-image: url('../../icons_assets/Main_BG_1440.webp');

  @media (max-width: 1440px) and (min-width: 768px) {
    background-image: url('../../icons_assets/Main_BG_1440.webp');
  }

  @media (min-width: 1441px) {
    background-image: url('../../icons_assets/Main_BG_1920.webp');
  }

  background-position: right;
  background-repeat: no-repeat;

  min-height: $titlePageHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $mainDark;
}

.App-header-summary {
  top: 407px;
  width: 748px;
  text-align: left;

  @media (max-width: 1440px) and (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;

    @include mid;
    height: 128px;
  }

  @media (min-width: 1441px) {
    font-size: 30px;
    line-height: 40px;

    @include wide;

    height: 200px;
  }

  @media (max-width: 768px) {
    top: unset;
    width: unset;
    padding: 0 10px;
    text-align: unset;
  }

  margin-top: 25px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App-scroll-sign {
  position: absolute;
  height: 5vh;
  bottom: $scrollerShift;
  animation: fadein 2s;

  &:hover {
    cursor: pointer;
  }
}

.disclaimor {
  position: absolute;
  top: 22px;
  color: $gray;
  font-size: 11px;
  line-height: 15px;
  align-self: normal;

  @media (max-width: 1440px) and (min-width: 768px) {
    @include mid;
  }

  @media (min-width: 1441px) {
    @include wide;
  }

  @media (max-width: 768px) {
    top: 1vh;
    padding: 0 10px;
  }
}
