@import '~foundation-sites/scss/foundation';
@include foundation-global-styles;
@import '../../style_global.scss';

$global-radius: 10px;

$timeline-color: $mainAccent;
$timeline-transition: all 0.25s ease-in;
$timeline-item-card-bg: $mainAccent;
$timeline-item-font-color: $mainDark;
$timeline-item-card: false;
$timeline-item-card-radius: $global-radius;

%clearfix {
  &::after,
  &::before {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }
}

// Timeline
.timeline {
  background-image: url('../../icons_assets/Gray_X_Logo.svg');
  background-repeat: no-repeat;
  background-size: auto 60vh;
  background-position-y: 40vh;

  &.bg-scroll-fixed {
    background-attachment: fixed;
  }

  margin: 12px auto 0px auto;
  padding: 0 10px;
  position: relative;
  transition: $timeline-transition;
  width: 100%;

  &::before {
    background: $timeline-color;
    content: '';
    height: calc(100% - 1 *#{rem-calc(16)});
    left: 50%;
    position: absolute;
    top: 0;
    width: 3px;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }

  .link {
    color: $timeline-item-font-color;
    font-weight: bold;
    transition: $timeline-transition;
    cursor: pointer;

    &:hover {
      box-shadow: 0 1px 0px 0px $timeline-item-font-color;
      transition: $timeline-transition;
      font-style: italic;
    }

    &::before {
      content: '> ';
    }
  }

  .timeline-item {
    position: relative;
    @extend %clearfix;

    .timeline-icon {
      background: $timeline-color;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      left: 50%;
      margin-left: -28px;
      overflow: hidden;
      position: absolute;
      top: 0;

      img,
      svg {
        position: relative;
        top: 9px;
      }
    }

    .timeline-content {
      position: relative;
      padding: 2px 10px 20px 10px;
      text-align: right;
      transition: $timeline-transition;
      width: 45%;

      @if $timeline-item-card == true {
        background: $timeline-item-card-bg;
        border-radius: $timeline-item-card-radius;
      } @else {
        background: transparent;
      }

      p {
        font-size: 16px;

        @media (min-width: 768px) and (max-width: 1441px) {
          font-size: 15px;
        }

        line-height: 1.4;
        margin-bottom: 0;
        color: $white;

        &.description {
          position: relative;
          margin-left: auto;

          @media (min-width: 768px) and (max-width: 1440px) {
            width: 420px;
          }

          @media (min-width: 1441px) {
            width: 490px;
          }
        }
      }

      .timeline-content-date {
        font-size: 20px;
        line-height: 27px;

        // font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0;
      }

      &.right {
        float: right;
        text-align: left;

        .description {
          margin-left: unset;
          margin-right: auto;
        }
      }
    }
  }
}

.load-more {
  font-size: rem-calc(16);
  padding-bottom: 20px;
  color: $mainDark;
  &:hover {
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
  }
}

.progress {
  background-color: $mainAccent;
  height: var(--height);
  -webkit-animation: roll 2s infinite;
  -moz-animation: roll 2s infinite;
  -o-animation: roll 2s infinite;
  animation: roll 2s infinite;
}

@keyframes roll {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@include breakpoint(small only) {
  .timeline {
    margin: 12px 30px 0 30px;
    padding: 0;
    width: 90%;

    &::before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        float: right;
        text-align: left;
        width: 90%;

        &::before,
        &.right::before {
          border-left: 0;
          border-right: 7px solid $timeline-color;
          left: 10%;
          margin-left: -6px;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}
