$mainDark: #000000;
$gray: #77736C;
$white: #ffffff;

$mainAccent: #E88949;
$mainLight: #f4f9ff;

$okay: #FEF6A6;
$bad: #FCA8A8;
$planned: #f4f9ff;

@font-face {
  font-family: "SpaceFont";
  src: url("./fonts/amiko-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "SpaceFont-semibold";
  src: url("./fonts/amiko-semibold-webfont.woff") format("woff");
}

@font-face {
  font-family: "SpaceFont-bold";
  src: url("./fonts/amiko-bold-webfont.woff") format("woff");
}
